@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  background-color: hsl(0, 0%, 100%);
  color: hsla(0, 0%, 14%, 0.9);
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto';
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1,
h4 {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 700;
  line-height: 1.3;
  font-size: 20px;
}

li,
ul {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

li {
  margin-left: 1em;
}

p {
  font-size: 20px;
}

a {
  color: #7460e1;
}

.container {
  padding: 55px;
  width: 600px;
  flex-direction: column;
}

.margin-y {
  margin-top: -14px;
  margin-bottom: -14px;
}

.padding-bottom {
  padding-bottom: 30px;
}

.column {
  flex-direction: column;
}

#logo {
  height: 1.2em;
  vertical-align: bottom;
  border-radius: 100%;
}
