:root {
  --scale: calc(1 / 2);
}

@media (min-width: 512px) {
  :root {
    --scale: 1;
  }
}
@import url('https://rsms.me/inter/inter.css');

html {
  background-color: hsl(0, 0%, 100%);
  color: hsla(0, 0%, 14%, 0.9);
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  padding: calc(20px * var(scale));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1,
h4 {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 700;
  line-height: 1.3;
  font-size: 20px;
}

li,
ul,
code {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 20px;
}

pre code {
  white-space: pre-wrap;
  word-break: break-word;
}

code {
  font-family: monospace;
  font-size: 17px;
  color: hsl(206, 14%, 43%);
  background: hsla(205, 14%, 43%, 0.1);
}

li {
  margin-left: 1em;
}

p {
  font-size: 20px;
}

a {
  color: #7460e1;
}

.container {
  padding: calc(55px * var(--scale));
  width: 512px;
  flex-direction: column;
}

.margin-y {
  margin-top: -14px;
  margin-bottom: -14px;
}

.padding-bottom {
  padding-bottom: 30px;
}

.column {
  flex-direction: column;
}

#logo {
  height: 1.2em;
  vertical-align: bottom;
  border-radius: 100%;
}
