<div class="section load-hidden">
  <h4>Activities</h4>
  <p>
    I'm a part of the MST Magnet program at my high school, focusing on computer science research
    projects. I co-founded
    <a rel="noopener" target="_blank" href="https://camascoding.netlify.app">Camas Coding Club</a>,
    where I help with web development mentorship, club leadership, and outreach through Hack Club.
    I'm also a mentor at <a rel="noopener" target="_blank" href="https://innova.js.org">Innova</a>,
    a First Lego League team where I teach middle-school kids about STEM and entrepreneurship.
  </p>
</div>
