<div class="section" style="visibility: hidden">
  <h4>Future</h4>
  <p>
    I don't necessarily have any specific or detailed plans but I do have a general, albeit vague
    idea of what I want to do in the future.
  </p>
  <p>
    I hope to plan on pursuing computer science in the future. Hopefully this summer, I'm able to
    have the opportunity to enroll in a CS mentorship or research program.
  </p>
</div>
