<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Sophomore - Full-stack Developer" />
<meta name="theme-color" content="#7460e1" />
<meta name="author" content="Aiden Bai" />

<title>Aiden Bai</title>

<script src="https://unpkg.com/scrollreveal"></script>

<link id="favicon" rel="shortcut icon" href="/img/logo.png" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
