<div class="column margin-y padding-bottom">
  <p>
    <a href="/"><img id="logo" src="/img/logo.png" alt="Logo"/></a>
    <b></b> &#183; Sophomore &#183; Full-stack Developer
  </p>
  <p>I'm a high-schooler in Washington State who just enjoys writing code.</p>
  <p>
    I'm not too much of a stickler for language, but I primarily use TypeScript/JavaScript for my
    projects, often using NodeJS and Vue for websites. Aside from programming, I enjoy playing
    ping-pong and hanging out with friends (especially with special someone)
  </p>
  <p>
    <a target="_blank" href="https://dev.to/aidenybai">Blog</a> &#183;
    <a target="_blank" href="https://github.com/aidenybai">Github</a> &#183;
    <a target="_blank" href="mailto:aiden.bai05@gmail.com">Email</a>
  </p>
  <iframe
    src="https://github.com/sponsors/aidenybai/button"
    title="Sponsor aidenybai"
    height="35"
    width="116"
    style="border: 0"
  ></iframe>
</div>
