<div class="section load-hidden">
  <p>
    <a rel="noopener" href="/"
      ><img id="logo" width="40" height="40" src="/img/logo.png" alt="Logo"
    /></a>
    <b>Aiden Bai</b> &#183; Full-stack Developer
  </p>
  <p>I'm a high-schooler in Washington State who just enjoys writing code.</p>
  <p>
    I'm not too much of a stickler for language, but I primarily use TypeScript/JavaScript for my
    projects, often using the MEVN stack for websites. Aside from programming, I enjoy playing
    ping-pong and hanging out with friends.
  </p>
  <p>
    <a rel="noopener" target="_blank" href="https://github.com/aidenybai">Github</a> &#183;
    <a rel="noopener" target="_blank" href="https://dev.to/aidenybai">Blog</a>
    &#183;
    <a
      rel="noopener"
      target="_blank"
      href="https://docs.google.com/document/d/1a_ir_C2YhjN_KMrhgwWEhwrlH9EubJF2eSmssdNS4gc/edit?usp=sharing"
      >Resume</a
    >
  </p>
</div>
