<div class="section">
  <p>
    <a href="/"><img id="logo" src="/img/logo.png" alt="Logo"/></a>
    <b>Aiden Bai</b> &#183; Full-stack Developer
  </p>
  <p>I'm a high-schooler in Washington State who just enjoys writing code.</p>
  <p>
    I'm not too much of a stickler for language, but I primarily use TypeScript/JavaScript for my
    projects, often using Express and Vue for websites. Aside from programming, I enjoy playing
    ping-pong and hanging out with friends.
  </p>
  <p>
    <a href="/projects">Projects</a> &#183;
    <a target="_blank" href="https://github.com/aidenybai">Github</a> &#183;
    <a target="_blank" href="https://dev.to/aidenybai">Blog</a>
  </p>
</div>
