<div class="section" style="visibility: hidden">
  <h4>Projects</h4>
  <p>
    <a rel="noopener" target="_blank" href="https://github.com/aidenybai/million">Million</a> is a &lt;1kb virtual DOM - it's fast!
  </p>
  <p>
    <a rel="noopener" target="_blank" href="https://github.com/aidenybai/lucia">Lucia</a> is a 3kb library for tiny
    web apps
  </p>
  <p>
    <a rel="noopener" target="_blank" href="https://github.com/aidenybai/snip">Snip</a> is the simple, no-bs link
    shortener.
  </p>
  <p>
    <a rel="noopener" target="_blank" href="https://github.com/camasscioly/covidheroes.net">COVID Heroes</a>
    is a platform to support medical workers.
  </p>
</div>
