<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>

    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <style>
      body {
        font-size: 200%;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="section" style="visibility: hidden" id="app"></div>
    </div>

    <script>
      ScrollReveal().reveal('.section');

      const typewriter = new Typewriter(document.querySelector('#app'), {
        loop: false,
        delay: 75,
      });

      typewriter
        .pauseFor(1500)
        .typeString('<b><u>A poem for you</u></b>')
        .pauseFor(2000)
        .typeString('<br><br>')
        .pauseFor(750)
        .typeString('roses are <span style="color: red">red</span>')
        .pauseFor(1500)
        .typeString('<br>')
        .pauseFor(750)
        .typeString('violets are <span style="color: blue">blue</span>')
        .pauseFor(1500)
        .typeString('<br>')
        .pauseFor(750)
        .typeString('happy <b>1 year</b> anniversary')
        .pauseFor(1500)
        .typeString('<br>')
        .pauseFor(750)
        .typeString('i love')
        .pauseFor(500)
        .deleteChars(4)
        .pauseFor(500)
        .typeString('❤️ you!!')
        .pauseFor(1500)
        .typeString('<br><br>')
        .pauseFor(750)
        .typeString(
          '<img class="animate__animated animate__shakeY" src="https://firebasestorage.googleapis.com/v0/b/angeldrive-5d221.appspot.com/o/files%2FbtHc0BLRW7VzxyhKUHEUIT8kdgL2%2FScreenshot%202021-02-08%20011007.jpg?alt=media&token=db2261d6-46fe-4733-91c5-31a9ad2a241a"><br>'
        )
        .pauseFor(1500)
        .typeString('<small>^ me irl</small>')
        .start();
    </script>
  </body>
</html>
